---
import Link from "./ui/link.astro";
---

<div
  class="bg-black p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-primary text-4xl md:text-6xl tracking-tight">
    Construeix el teu lloc web.
  </h2>
  <p class="text-slate-400 mt-4 text-lg md:text-xl">
    Transforma la teva Idea a una Web Impecable amb SantHilari/Link.
  </p>
  <div class="flex mt-5">
    <Link href="#" style="primary">descobreix-ho ara</Link>
  </div>
</div>
