---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Creem la teva botiga 'e-commerce'",
    description:
      "La teva botiga online: oberta sempre, accessible a tothom i llesta per impulsar les vendes.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Dissenys Atractius i Professionals",
    description:
      "El nostre procés de disseny se centra en l'experiència dels teus clients, creant interfícies intuïtives, atractives i fàcils de navegar.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Llocs Web Optimitzats per a l'Èxit",
    description:
      "construïm una presència en línia visualment impressionant, que funciona de manera impecable.",
    icon: "bx:bxs-data",
  },
  {
    title: "Solucions a la teva Mesura",
    description:
      "Creem la web perfecta per a les teves necessitats específiques, ja sigui amb React, WordPress o Elementor.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Landing Pages d'Alt Impacte.",
    description:
      "Converteix visitants en clients amb landing pages dissenyades estratègicament i construïdes de forma visual amb Elementor.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Community",
    description:
      "Combinem una profunda experiència en el desenvolupament web amb una passió per a la innovació i la creativitat.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Creem la Presència Online que el Teu Negoci Necessita
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Des de funcionalitats personalitzades amb JavaScript fins a l'optimització
    avançada amb WordPress, explorem totes les possibilitats per al vostre èxit
    online.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
