---
import { Picture } from "astro:assets";
import heroImage from "@/assets/herosant2.webp";
import Link from "@/components/ui/link.astro";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      SantHilari / Link Portafoli digital de creació web
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Creem pàgines web, e-commerce i landing pages atractives i funcionals,
      potenciades per JavaScript, WordPress i Elementor.<wbr /> Built with Astro.build
      and TailwindCSS. You can quickly create any website with this starter.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        style="primary"
        href="https://wa.me/612219007"
        target="_blank"
        class="flex gap-1 items-center justify-center bg-primary border-2"
        rel="noopener">
        <img src="/Whatsapp.svg" alt="WhatsApp" class="w-4 h-4" />

        Contactar per WhatsApp
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="#"
        class="flex gap-1 items-center justify-center hover:bg-primary"
        target="_blank">
        <img src="/Tiktok.png" alt="WhatsApp" class="w-5 h-5" />

        Més a TikTok
      </Link>
    </div>
  </div>
</main>
